/* regole specifiche per alcuni elementi */

/*segni di spunta tondi arancioni*/
.orange-checkmark{
  background-color: orangered;
  border-radius: 100%;
  width: 1em;
  height: 1em;
  color: white;
  display: inline-block;
  text-align: center;
}

/*sezione hero*/

/*bottone hero*/
#btn-hs-hero{
  height: 30px;
  width: 100px;
}


#hero-pitch{
  width: 80%;
  margin-left:20%;
}

/*sezione crm*/
#crm-features{
  width: 90%;
}
#btn-crm{
  height: 30px;
  width: 100px;
}

/*griglia community*/

#community-first-row{
  width:80%;
  height: 150px;
  border-bottom: 1px solid white;
}
/* 
#community-first-row:nth-child(1) */