/* regole specifiche per alcuni elementi */

/*navbar superiore*/


#navbar-top-right ul{
  margin-right: 100px;
}

#navbar-top-left li,
#navbar-top-right li,
#navbar-language li
{ 
  padding: 0 0.5em;
  margin: 1em 0.5em;
  font-size: 12px;
}

#navbar-get-hs button{
  font-size: 9px;
  width: 150px;
  height: 25px;
  background-color: rgb(236, 113, 68);
  border: 2px solid black;
  color: white;
  cursor: pointer;
}

#navbar-get-hs button:hover{
  background-color: orangered;
}

#navbar-pricing li{
  margin: 0 1em;
}

/*sezione hero*/

/*bottone hero*/
#btn-hs-hero{
  height: 70px;
  width: 200px;
  font-size: 120%;
}


#hero-pitch{
  margin: 60px 0 100px 20%;
}

/*sezione crm*/
#crm-features{
  margin-top: 10%
}
#btn-crm{
  height: 30px;
  width: 100px;
}


/*sezione altri servizi*/
#altri-servizi div div div{
  padding:10px
}

#altri-servizi div{
  margin: 10px auto;
}

#altri-servizi li{
  line-height: 1.5em
}

#altri-servizi button{
  height: 50px;
  width: 150px;
  font-size: 100%;
  margin: 10px auto;
}

/*intro community*/
#community-intro{
  padding: 5% 0;
}

/*griglia community*/

#community-first-row{
  width: 80%;
  height: 80px;
  border-bottom: 1px solid white;
}

 #community-second-row{
  width: 80%;
  height: 80px;
} 

#community-first-row div,
#community-second-row div{
  height: 100%;
}

.border-right
{
  border-right: 1px solid white;
}


