/* regole specifiche per alcuni elementi */

/*navbar superiore*/

#navbar-top-left ul{
  margin-top: 35px; 
}

#navbar-top-left li,
#navbar-top-right li,
#navbar-language li
{ 
  padding: 0 1em;
  margin: 0 1em;
  font-size: 12px;
}

#navbar-get-hs button{
  font-size: 9px;
  width: 150px;
  height: 25px;
  background-color: rgb(236, 113, 68);
  border: 2px solid black;
  color: white;
  cursor: pointer;
}

#navbar-get-hs button:hover{
  background-color: orangered;
}

#navbar-pricing li{
  margin: 0 1em;
}

/*sezione hero*/

/*bottone hero*/
#btn-hs-hero{
  height: 30px;
  width: 100px;
}


#hero-pitch{
  width: 80%;
  margin-left:20%;
}

/*sezione crm*/
#crm-features{
  width: 90%;
}
#btn-crm{
  height: 30px;
  width: 100px;
}


/*sezione altri servizi*/
#altri-servizi div div div{
  padding:0 10px
}

#altri-servizi div{
  margin: 10px auto;
}

#altri-servizi li{
  line-height: 1.5em
}

/*griglia community*/

#community-first-row{
  width:80%;
  height: 80px;
  border-bottom: 1px solid white;
}

 #community-second-row{
  width:80%;
  height: 80px;
} 

#community-first-row div,
#community-second-row div{
  height: 100%;
}

.border-right
{
  border-right: 1px solid white;
}


