*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* altezza delle sezioni */
.short{
  height:70px;
}

.tall{
  height:300px;
}

.col{
  position: relative;
  border: 1px solid black;
}

.margin-auto{
  margin: auto;

}
/* dimensione delle colonne */
.col-half{
  width: 50%;
}

.col-third{
  width: 33.3%;
}

.col-two-thirds{
  width: 66.6%;
}

.col-fourth{
  width: 25%;
}

.col-three-fourths{
  width: 75%;
}

/* Floats */
.left{
  float:left;
}

.right{
  float:right
}

/* clear-fix */
.row::after{
  content: "";
  display: table;
  clear: both;
}

/* centra i contenuti nei contenitori */
.content-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

/* centra il testo nei contenitori */
.text-center{
  text-align: center;
}

/* dimensioni delle immagini */
.img-medium{
  height: 150px;
  width: 150px;
}

/* colori di sfondo */
.bk-aqua{
  background-color: aqua;
}

.bk-light{
  background-color: #f5f8fa;
}

.bk-blue{
  background-color: steelblue;
}

.bk-white{
  background-color: white;
}

.bk-orange{
  background-color: orange;
}

/* colore del testo */
.text-bluish{
  color: #33475b;
}

.text-white{
  color: white;
}

/* display inline-block */
.inline-block{
  display: inline-block;
}